* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: grid;
  grid-template: auto/repeat(5, 1fr);
  gap: 10px;
}

.item:nth-child(odd) {
  background-color: antiquewhite;
}

.item:nth-child(even) {
  background-color: rgb(245, 209, 163);
}
/* 
#item1 {
  grid-area: header;
}

#item2 {
  grid-area: side;
}

#item11 {
  grid-area: footer;
} */
